<div class="text-center footer">

<p style="padding-top: 20px;"></p>

<p>Questions? Contact me at <a href="mailto:selene6023@gmail.com">selene6023@gmail.com</a></p>

<p>This site is powered by Ruby On Rails</p>

<p>Sign up at <%= link_to "My Blog", root_url %></p>

</div>