<% if current_user.voted_for?(post) %>

<%= link_to "Unlike", unlike_post_path(post), method: :put, remote: true %>

<% else %>

<%= link_to "Like", like_post_path(post), method: :put, remote: true %>

<% end %>

<p>
  <%= post.score %> Likes
</p>