<strong>Comments:</strong>
	<% unless @post.comments.blank? %>
		<% @post.comments.each do |comment| %>
			<p><strong><%= comment.user.name %>:</strong><br />
				<%= comment.body %>

			<% if user_signed_in? %>
				<% if current_user == comment.user || current_user == @post.user %>
			<br />
				<%= link_to "Delete", [comment.post, comment], method: :delete, data: {confirm: "Are you sure?"} %>
				<% end %>
			<% end %>
			</p>

		<% end %>
	<% else %>
		No Comments
	<% end %>
