@import "bootstrap";

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

img {
  max-width: 100%;
}

.navbar {
	margin-bottom: 0;
}

.alert {
	margin-bottom: 0;
}

.jumbotron {
	background-image: image-url("https://dl.dropboxusercontent.com/s/1g9m4zkewkihmof/nebula.jpg");
	background-position: center;
	margin: 0;
	height: 500px;
	color: white;

	h1 {
		margin-top: 90px;
	}

	a {
		color: white;
	}
}

.bill-btn {
	margin: 20px;
	font-size: 25px;
	font-weight: bold;
}

.col-md-9 {
	background-color: rgb(245, 245, 245);
	border-color: rgb(235, 235, 235);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	margin: 10px;
}

.front-page {
	margin-top: 40px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}