@import url(https://fonts.googleapis.com/css?family=Marck+Script);

.users {
	height: 275px;
	padding-top: 50px;
  margin-bottom: 20px;
}

.users-bg {
	background-color: #4d4c4d;
  background-image: image-url("https://dl.dropboxusercontent.com/s/frta3ce97jmduub/skulls.png");
}

.blogname {
	color: white;
	font-family: 'Marck Script', cursive;
}

.tagline {
	color: white;
	font-family: 'Marck Script', cursive;
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
  padding-bottom: 20px;
}

.gravatar {
	border-radius: 50%;
}

.user-nav {
  background-color: transparent;
  border: none;
  border-radius: 0;

  a {
  color: white;
  font-size: 12px;
  &:visited {
  color: white;
  }
  }

  .nav > li > a {
    color: white;
    font-size: 12px;
  }

  .dropdown-menu {
  background-color: #4d4c4d;
  a {
  font-size: 12px;
  }
}

}

.blog-title {
  text-align: center;
}

.col-md-7 {
  background-color: rgb(100, 100, 100);
  color: white;
  border: none;
  margin: 10px;
  padding-bottom: 50px;
  -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.58);
  box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.58);
  a {
    color: white;
  }
  p {
    font-size: 15px;
    line-height: 150%;
  }
}

.footer {
  background: transparent;
  padding-bottom: 20px;
  p {
    font-size: 12px;
    color: white;
  }
  a {
    color: white;
  }
}