.users {
	background-image: image-url("https://dl.dropboxusercontent.com/s/1g9m4zkewkihmof/nebula.jpg");
	height: 300px;
	padding-top: 50px;
}

.blogname {
	color: white;
}

.tagline {
	color: white;
	font-weight: normal;
	font-size: 20px;
	font-style: italic;
}

.gravatar {
	border-radius: 50%;
}